*, 
*::before,
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    border: solid;
    width: 100%;
}

.body__section{
    border: solid 1px red;
    width: 50%;
    margin-inline: auto;
}


img{
    border-radius: 1em;
    margin: 1em 0 1em 0;
}
.qrDiv{
    border-radius: 1em ;
    width: 21em;
    margin-inline: auto;
    margin-top: 5em;
    /* text-align: center; */
    /* margin:5em 32.5em 0em  32.5em; */
    background-color:hsl(0, 0%, 100%) ;
    
    
}

.textbeg{
    text-align: center;
    padding:0em 2em 0.5em 2em;
    font-family: Outfit;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: hsl(218, 44%, 22%);
}

.text{
    text-align: center;
    padding: 0em 2.5em 2em 2.5em;
    font-family: Outfit;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.attribution{
    font-family: Outfit;
    margin-top: 2em;
}

@media screen and (max-width:1000px) {
    .body__section{
        width: 100%;
    }
    .qrDiv{
        margin-top: 5em;
        margin-inline: auto;
        /* text-align: center; */
    }

}
